<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="ServerAddress" value="127.0.0.1"/>
        <add key="ServerPort" value="5893"/>
        <add key="ServerLogin" value="Admin"/>
        <add key="ServerPassword" value=""/>
        <add key="CashierName" value="path0"/>
        <add key="CashierVatin" value="9994507791"/>
        <add key="CompanyMail" value="path1"/>
    </appSettings>
</configuration>