<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="ServerAddress" value="127.0.0.1"/>
        <add key="ServerPort" value="5893"/>
        <add key="ServerLogin" value="User"/>
        <add key="ServerPassword" value=""/>
        <add key="CashierName" value="Cashier"/>
        <add key="CashierVatin" value="000000000000"/>
        <add key="CompanyMail" value="mail@company.com"/>
        <add key="ServerDeviceId" value="0"/>
    </appSettings>
</configuration>