<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">

    <targets>
        <target name="logfile" xsi:type="File"
                encoding="utf-8"
                layout="${date:format=HH\:mm\:ss.fff}|${Level} ${callsite} - ${message}"
                fileName="${basedir}/log/${date:format=yyyy-MM-dd}.log" archiveAboveSize="2097151"
                concurrentWrites="true"
                archiveFileName="${basedir}/log/arch/${date:format=yyyy-MM-dd}.log" archiveNumbering="Sequence"
                keepFileOpen="true"
                openFileCacheTimeout="10" maxArchiveFiles="30" />

        <target xsi:type="RichTextBox"
                name="rtxtLog"
                layout="${date:format=HH\:mm\:ss.fff}${pad:padding=7:inner=${level:uppercase=true}} ${message} ${onexception:${newline}  ${exception:format=ToString}}"
                autoScroll="true"
                maxLines="300"
                controlName="rtxtLog"
                formName="MainWindow"
                useDefaultRowColoringRules="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="rtxtLog" />
    </rules>
</nlog>